<div class="container-fluid bg-home">
  <app-menu-admin></app-menu-admin>
  <div class="container py-4">
    <div class="d-flex flex-column align-items-center mb-4 gap-4">
      <img
        src="assets/images/eventos.png"
        class="img-fluid rounded-4 mb-3 mb-md-0 me-md-4"
        style="width: 240px; height: 240px; object-fit: cover"
      />
      <div class="d-flex flex-column flex-md-row align-items-center">
        <div>
          <div class="fw-bold">Marzo</div>
          <div class="display-6 fw-bold">28</div>
        </div>

        <div class="ms-md-4">
          <h5 class="fw-bold mb-1">
            Sara Flores. Non Nete. Un sueño para una nación indígena
          </h5>
          <small>Reserve su entrada a esta exposición</small>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-md-6 p-4 rounded-4 mx-auto"
      style="background-color: #dadada"
    >
      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Cantidad Entradas</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Precio</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100 mb-3">
        <mat-label>Total</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <div class="d-flex justify-content-end gap-3">
        <button
          mat-flat-button
          color="primary"
          class="btn custom-dark-button text-white"
        >
          Cancelar
        </button>
        <button
          mat-flat-button
          color="primary"
          class="btn custom-dark-button text-white"
        >
          Pagar
        </button>
      </div>
    </div>
  </div>
</div>
