<div class="container-fluid bg-home">
  <app-menu-admin></app-menu-admin>
  <div class="container py-5 text-center">
    <!-- Avatar -->
    <div class="mb-4">
      <mat-icon class="icon-user"> account_circle </mat-icon>
    </div>

    <!-- Información -->
    <div class="text-start mx-auto mb-4" style="max-width: 450px">
      <label class="fw-semibold mb-2 d-block">Información:</label>
      <div
        class="p-4 rounded-4"
        style="background-color: #dadada; min-height: 100px"
      ></div>
    </div>

    <!-- Intereses -->
    <div class="text-start mx-auto" style="max-width: 300px">
      <label class="fw-semibold d-block mb-3">Intereses</label>

      <div class="d-grid gap-2">
        <button mat-stroked-button class="rounded-pill">Musica Barroca</button>
        <button mat-stroked-button class="rounded-pill">
          Pintura Impresionista
        </button>
        <button mat-stroked-button class="rounded-pill">Estilo Rococo</button>
      </div>
    </div>
  </div>
</div>
